<h1 id="site_title">Movie Tracker</h1>

<div id="table_cont">
  <table>
    <thead>
      <tr>
        <th>Watchlists</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <% @watchlists.each do |watchlist| %>
          <tr>
            <td id="table_list_name"><%= watchlist.list_name %></td>
            <td><%= link_to 'Show', watchlist %></td>
            <td><%= link_to 'Edit', edit_watchlist_path(watchlist) %></td>
            <td><%= link_to 'Destroy', watchlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<br>

<%= link_to 'Create New Watchlist', new_watchlist_path %>