<p id="notice"><%= notice %></p>

<p>
  <h1><%= @watchlist.list_name %></h1>
</p>

<div id="items_wrapper">
  <%= render @watchlist.items %>
</div>

<div id="form">
    <%= render "items/form" %>
</div>

<%= link_to 'Edit List Name', edit_watchlist_path(@watchlist) %> |
<%= link_to 'Back', watchlists_path %>
